@import "../../scss/common.scss";

.not_found_wrapper {
    display: block;
    background-color: #667d6b;
    width: 100vw;
    background: linear-gradient(-45deg, #101917, #273f39, #526561, #939f9c);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s;

    .not_found {
        text-align: center;
        color: $light_background; 
        margin: 0; 
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .whoops {
            font-family: "Baskerville_bold";
            font-size: 3rem;
            letter-spacing: 6px;
            padding-bottom: 20px;
        }

        .how_to {
            font-family: "Baskerville_semibold";
            letter-spacing: 3px;
            font-size: 1rem;
            line-height: 30px;
        }
      }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
