@import "../../scss/common.scss";

.in_progress_wrapper {
  padding: 50px;

  .caption {
    color: $secondary_green;
    font-family: "Greycliff_medium_italic";
    letter-spacing: 2;
    text-align: center;
    padding-top: 5px;
  }
}

.selectedPage{
  text-transform: uppercase;
  color: white;
  font-family: "Greycliff_medium";
}

.notSelectedPage{
  text-transform: uppercase;
  font-family: "Greycliff_medium";
  color: white;
  opacity: 0.5;
}

.logo-mark {
  position: absolute;
  z-index: 10;
  margin: 30px 20px;

  p {
    font-family: "Greycliff_medium";
    letter-spacing: 8px;
    font-size: 1.3rem;
    color: $light_background;
    margin: 0;
  }

}

// .menu_outer_wrapper {
//   width: 100%;
//   position: relative;
// }

    .heading_wrapper {
      display: grid;
      grid-template-columns: auto;
      z-index: 10;
    }

    .menu_wrapper {

      .menu_dropdown_wrapper {
        border-radius: 60px;
        border: 1px solid $text_colour;
        background-color: rgba($text_colour, 0.1);
        box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        display: grid;
        justify-content: center;
        grid-row-gap: 20px;
        position: absolute;
        transition: all 0.3s;
        z-index: 9;
        top: 3.5vh;

        &.open {
          right: -29px;
          padding: 30px 7px;
        }

        &.closed {
          right: -150px;
          padding: 0;
        }

        .main_menu_item {
          display: grid;
          justify-content: center;
          grid-row-gap: 10px;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          .menu_icon {
            display: grid;
            justify-content: center;
            align-items: center;

            svg {
              height: 30px !important;
              opacity: 0.5;
            }
          }

          .menu_information {
            font-family: "Greycliff_medium";
            color: $text_colour;
            font-size: 0.7rem;
            letter-spacing: 2px;
          }
        }
      }
    }

    .welcome-message {
      position: absolute;
      top: 24%;
      height: 100%;

      color: $light_background;
      font-family: "Greycliff_ExtraLight";

      display: flex;
      flex-direction: column;
      align-items: center;

      .greeting {
        padding: 20px;
        font-family: "Greycliff_Thin";
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 5px;
        text-align: center;
        margin: 0;
      }

      .sub_heading {
        padding: 20px 20px 0 20px;
        font-family: "Greycliff_LightOblique";
        letter-spacing: 3px;
        text-align: center;
        line-height: 30px;
      }

      .scroll_text {
        transform: scale(1.5);
        height: 100%;
        display: flex;
        align-items: inherit;
      }
    }

    .menu {
      //border: 1px $light_background solid;
      display: grid;
      height: 100%;
      position: relative;
      align-items: center;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
      }

      svg {
        height: 19px;
        top: 2px;
        position: relative;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .count-down-timer {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;

      .countdown-item {
        background-color: rgba($light_background, 0.1);
        height: 77px;
        width: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(black, 0.05);

        p {
          margin: 0;
        }

        .value {
          font-family: "Greycliff_bold";
          font-size: 1.25rem;
          letter-spacing: 7px;
          margin-left: 7px;
          padding-bottom: 3px;
        }

        .text {
          font-size: 0.7rem;
          font-family: "Greycliff_medium_italic";
        }
      }
    }

    .scroll-hint {
      display: flex;
      position: absolute;
      bottom: 33%;
      border: 1px $light_background solid;
      padding: 10px 30px;
      border-radius: 50px;
      background-color: rgba($light_background, 0.1);
      box-shadow: 0 3px 10px rgb(black, 0.05);
      transform: rotate(90deg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);

      object {
        transform: translateX(20px);
        animation-name: slide-hint;
        animation-timing-function: ease;
        animation-duration: 3s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
      }
    }



.fade_out {
    right: -60px;
    opacity: 0;
}

.fade_in {
  right: 0px;
  opacity: 1;
}

.parent_1 {
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.parent_2 {
  transition-delay: 0.3s;
  transition-duration: 0.3s;
}

.parent_3 {
  transition-delay: 0.4s;
  transition-duration: 0.3s;
}

.parent_4 {
  transition-delay: 0.5s;
  transition-duration: 0.3s;
}

.close_menu {
  position: absolute;
  right: 0;
  transition: all 0.3s;
  transition-delay: 0.15s;
  opacity: 0;

  svg {
    &:active {
      transform: scale(0.7);
    }
  }

  &.fade_in {
    opacity: 1;
  }

  &.fade_out {
    // animation-fill-mode: both;
    // animation-duration: 0.3s;
    // -webkit-animation-name: fade_out_right;
    // animation-name: fade_out_right;
    opacity: 0;
  }
}

.open_menu {
  position: absolute;
  right: 0;
  transition: all 0.3s;
  transition-delay: 0.15s;
  opacity: 0;

  svg {
    &:active {
      transform: scale(0.7);
    }
  }

  &.fade_in {
    opacity: 1;
  }

  &.fade_out {
    // animation-fill-mode: both;
    // animation-duration: 0.3s;
    // -webkit-animation-name: fade_out_left;
    // animation-name: fade_out_left;
    opacity: 0;
  }
}

@keyframes fade_out_right {
  0% {
    right: 10px;
  }
  33% {
    right: -5px;
  }
  66% {
    right: -10px;
  }
  100% {
    right: 10;
  }
}

@keyframes fade_out_left {
  0% {
    left: 10px;
  }
  33% {
    left: -5px;
  }
  66% {
    left: -10px;
  }
  100% {
    left: 10;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main_header_wrapper {
  position: relative;
  padding: 5vh;
  min-height: 90vh;

  @media screen and (min-width: 1000px) {
    padding: 5vh 13vh;
  }

  .loading_page {
    display: block;
    background-color: #667d6b;
    width: 100vw;
    background: linear-gradient(-45deg, #1a201b, #2e3931, #47524a, #707972);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s;

      p {
        font-family: "Greycliff_bold";
        letter-spacing: 8px;
        font-size: 1.3rem;
        color: $light_background;
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
      }

      &.display {
        opacity: 1;
      }

      &.hide {
        opacity: 0;
        z-index: 0;
      }
  }
}


.header_wrapper {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 4vh;

  .logo {
    &:hover {
      cursor: pointer;
    }

    svg {
      height: 35px;

      @media screen and (min-width: 1000px) {
        height: 6vh;
      }
    }
  }

  .menu_icon_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;

    @media screen and (min-width: 1000px) {
      display: none;
    }

    .page_place_wrapper {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .page_icon {
        svg {
          height: 35px;
        }
      }

      .page_heading {
        font-family: "Greycliff_medium";
        color: rgba($text_colour, 0.2);
        letter-spacing: 2px;
      }
    }

    .menu_icon {
      svg {
        height: 20px;
      }
    }
  }

  .desktop_view_nav {
    display: none;

    @media screen and (min-width: 1000px) {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 35px;
      justify-content: flex-end;

        .main_menu_item {
          display: grid;
          grid-template-columns: auto auto;
          justify-content: flex-end;
          grid-row-gap: 10px;
          position: relative;
          align-items: center;
          gap: 15px;

          &:hover {
            cursor: pointer;
          }

          .menu_icon {
            display: grid;
            justify-content: center;
            align-items: center;

            svg {
              height: 2.2vw !important;
              opacity: 0.5;
            }
          }

          .menu_information {
            font-family: "Greycliff_medium";
            color: $text_colour;
            font-size: 1.1vw;
            letter-spacing: 2px;
          }
        }
    }
  }
}

.menu_outer_wrapper {
  position: relative;
}


