<div class="main_header_wrapper">
    <div [ngClass]="!finshedLoading ? 'display' : 'hide'" class="loading_page">
        <p>R&O</p>
    </div>

    <div class="logo-mark">
        <p>R&O</p>
    </div>
    <div class="menu_outer_wrapper">
        <div class="heading_wrapper">
            <div class="menu_wrapper">
                <div class="menu" (click)="openMainMenu();">
                    <div class="close_menu fade_out">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.733 11.732">
                            <g id="Group_329" data-name="Group 329" transform="translate(-339.05 -28.551)">
                              <g id="menu_1_" data-name="menu (1)" transform="translate(340.971 24.479)">
                                <line id="Line_43" data-name="Line 43" x2="14.591" transform="translate(-1.213 4.778) rotate(45)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                <line id="Line_45" data-name="Line 45" x2="14.592" transform="translate(9.105 4.778) rotate(135)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                              </g>
                            </g>
                        </svg>
                    </div>
    
                    <div class="open_menu fade_in">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 13">
                            <g id="Group_348" data-name="Group 348" transform="translate(-359.5 -28)">
                              <g id="menu_1_" data-name="menu (1)" transform="translate(360.971 24.479)">
                                <line id="Line_42" data-name="Line 42" x2="12" transform="translate(-0.971 10.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                <line id="Line_43" data-name="Line 43" x2="12" transform="translate(3.029 4.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                <line id="Line_44" data-name="Line 44" x2="12" transform="translate(3.029 16.021)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                              </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="menu_dropdown_wrapper closed">
                    <div class="main_menu_item parent_1 fade_out" (click)="changePageTo('rsvp', 0)" [ngClass]="pageToShow =='rsvp' ? 'selectedPage' : 'notSelectedPage'">
                        <div class="menu_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.201 14.492">
                                <g id="youtube" transform="translate(-0.499 -3.5)">
                                  <path id="Path_698" data-name="Path 698" d="M19.8,6.112a2.426,2.426,0,0,0-1.693-1.745A62.847,62.847,0,0,0,10.6,4a57.428,57.428,0,0,0-7.505.4A2.426,2.426,0,0,0,1.4,6.147,25.309,25.309,0,0,0,1,10.764a25.309,25.309,0,0,0,.4,4.652,2.426,2.426,0,0,0,1.693,1.676,57.428,57.428,0,0,0,7.505.4,57.428,57.428,0,0,0,7.505-.4A2.426,2.426,0,0,0,19.8,15.345a25.309,25.309,0,0,0,.4-4.582,25.309,25.309,0,0,0-.4-4.652Z" transform="translate(0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <path id="Path_699" data-name="Path 699" d="M9.75,14.188l5.018-2.854L9.75,8.48Z" transform="translate(-1.114 -0.57)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                              </svg>
                        </div>
                        <!-- <div class="menu_information">RSVP</div> -->
                        <div class="menu_information">STREAM</div>
                    </div>
    
                    <div class="main_menu_item parent_2 fade_out" (click)="changePageTo('music', 0)" [ngClass]="pageToShow =='music' ? 'selectedPage' : 'notSelectedPage'">
                        <div class="menu_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.313 16.391">
                                <g id="music_2_" data-name="music (2)" transform="translate(-2.657 -2.5)">
                                  <path id="Path_648" data-name="Path 648" d="M9,15.891V4.719L19.313,3V14.173" transform="translate(-0.843 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <circle id="Ellipse_16" data-name="Ellipse 16" cx="2.5" cy="2.5" r="2.5" transform="translate(3.157 13.391)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.5" cy="2.5" r="2.5" transform="translate(13.47 11.47)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                              </svg>
                        </div>
                        <div class="menu_information">MUSIC</div>
                    </div>
    
                    <div class="main_menu_item parent_3 fade_out" (click)="changePageTo('details', 0)" [ngClass]="pageToShow =='details' ? 'selectedPage' : 'notSelectedPage'">
                        <div class="menu_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.849 14">
                                <g id="clipboard" transform="translate(-3.5 -1.745)">
                                  <path id="Path_649" data-name="Path 649" d="M12.424,4h1.068a1.341,1.341,0,0,1,1.356,1.324V14.6a1.341,1.341,0,0,1-1.356,1.324H5.356A1.341,1.341,0,0,1,4,14.6V5.324A1.341,1.341,0,0,1,5.356,4H6.712" transform="translate(0 -0.676)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <rect id="Rectangle_148" data-name="Rectangle 148" width="5" height="3" rx="1" transform="translate(7 2.245)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                              </svg>
                        </div>
                        <div class="menu_information">DETAILS</div>
                    </div>
    

                    <div class="main_menu_item parent_4 fade_out" (click)="changePageTo('registry', 0)" [ngClass]="pageToShow =='registry' ? 'selectedPage' : 'notSelectedPage'">
                        <div class="menu_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16.145">
                                <g id="gift_4_" data-name="gift (4)" transform="translate(-1.5 -1.5)">
                                  <path id="Path_650" data-name="Path 650" d="M16.116,12v7.573H4V12" transform="translate(-0.485 -2.427)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <rect id="Rectangle_149" data-name="Rectangle 149" width="15" height="3" transform="translate(2 6.145)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <line id="Line_46" data-name="Line 46" y1="11" transform="translate(10 6.145)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <path id="Path_651" data-name="Path 651" d="M10.3,5.786H6.893A1.893,1.893,0,1,1,6.893,2C9.544,2,10.3,5.786,10.3,5.786Z" transform="translate(-0.728)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                  <path id="Path_652" data-name="Path 652" d="M12,5.786h3.408a1.893,1.893,0,1,0,0-3.786C12.757,2,12,5.786,12,5.786Z" transform="translate(-2.427)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                                </g>
                              </svg>
                        </div>
                        <div class="menu_information">REGISTRY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div style="position: relative; z-index: 100; display: flex; width: 100vw; justify-content: space-evenly;">
        <div (click)="changePageTo('rsvp')" [ngClass]="pageToShow =='rsvp' ? 'selectedPage' : 'notSelectedPage'">
            <p>RSVP</p>
        </div>
        <div (click)="changePageTo('music')" [ngClass]="pageToShow =='music' ? 'selectedPage' : 'notSelectedPage'">
            <p>MUSIC</p>
        </div>
        <div (click)="changePageTo('details')" [ngClass]="pageToShow =='details' ? 'selectedPage' : 'notSelectedPage'">
            <p>DETAILS</p>
        </div>
        <div class='notSelectedPage'>
            <p>REGISTRY</p>
        </div>
    </div> -->

    <app-landing-page></app-landing-page>

    <div class='rsvpContainer'>
        <div [hidden]="!(pageToShow =='rsvp')">
            <app-rsvp-form (changePageTo)="changePageTo($event, 0)" (finishedLoading)="finishedLoading($event)"></app-rsvp-form>
        </div>
    </div>
    <div class='musicContainer'>
        <div [hidden]="!(pageToShow =='music')">
            <app-music-section></app-music-section>
        </div>
    </div>
    <div class='detailsContainer'>
        <div [hidden]="!(pageToShow =='details')" (changePageTo)="changePageTo($event, 0)">
            <app-wedding-details></app-wedding-details>
        </div>
    </div>
    <div class='registryContainer'>
        <div [hidden]="!(pageToShow =='registry')" >
            <!-- <app-wedding-details></app-wedding-details> -->
            <app-registry></app-registry>
        </div>
    </div>

    <app-footer></app-footer>
</div>
