.footer {
  height: 25vh;

  .image-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .footer_graphic {
      position: relative;
      top: 10px; 
    }

    .scroll-hint {
      display: flex;
      position: absolute;
      top: 25%;
      border: 1px white solid;
      padding: 10px 30px;
      border-radius: 50px;
      background-color: rgba(white, 0.1);
      box-shadow: 0 3px 10px rgb(black, 0.05);
      transform: rotate(270deg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);

      cursor: pointer;

      object {
        transform: translateX(0px);
        animation-name: slide-hint;
        animation-timing-function: ease;
        animation-duration: 3s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        transform-origin: bottom;

        cursor: pointer;
      }
    }
  }
}

@keyframes slide-hint {
  0% {
    transform: scale(1, 1) translateX(20px);
  }
  50% {
    transform: scale(0.9, 0.95) translateX(0);
  }
  100% {
    transform: scale(1, 1) translateX(20px);
  }
}
