
<div class="body">
  <div class="registry_wrapper">
      <div class="my_items_wrapper">
        <div class="heading_wrapper">
          <div class="my_items_header">Your gift list</div>
          <div class="my_items_sub_header">Your reserved gift list. Tap to remove an item.</div>
        </div>
        
        <div class="my_items_grid" *ngIf="guestsItems?.length > 0">
          <div class="my_items_information_wrapper" *ngFor="let item of guestsItems" class="gift_item">
            <div class="selected_item" (click)="removeGuestItem(item);">
              <div class="image_outer_wrapper">
                <div class="image_wrapper" [ngStyle]="{'background-image': 'linear-gradient(
                  rgba(51, 63, 54, 0.5), 
                  rgba(51, 63, 54, 0.5)
                ),url(' + item.payload.doc.data().url + ')'}">
                </div>
              </div>
             
              <div class="item_information_wrapper">
                <div>
                  <div class="item_name">{{item.payload.doc.data().name}}</div>
                  <div class="item_category">{{item.payload.doc.data().category}}</div>
                </div>
              </div>
            
              <div class="remove_button_wrapper">
                <div class="remove_button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.039 14.192">
                    <path id="delete" d="M16.039,3.788h-2.76L12.49,3H8.548l-.788.788H5V5.365H16.039M5.788,15.615a1.577,1.577,0,0,0,1.577,1.577h6.308a1.577,1.577,0,0,0,1.577-1.577V6.154H5.788Z" transform="translate(-5 -3)" fill="#f3f2f2"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="empty_state_wrapper" *ngIf="guestsItems?.length == 0">
          <div class="empty_state">
            <div class="empty_state_text">
              <div class="empty_heading">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.92" height="20.92" viewBox="0 0 20.92 20.92">
                  <path id="tag-off" d="M18.33,8.5l4.59-4.58L21.5,2.5l-19,19,1.42,1.42L8.5,18.33l3.08,3.08a1.992,1.992,0,0,0,2.83,0l7-7a1.992,1.992,0,0,0,0-2.83M5.61,15.43l9.86-9.78L12.41,2.58A2,2,0,0,0,11,2H4A2,2,0,0,0,2,4v7a2,2,0,0,0,.59,1.41M5.5,4A1.5,1.5,0,1,1,4,5.5,1.5,1.5,0,0,1,5.5,4Z" transform="translate(-2 -2)"/>
                </svg>
                <div class="empty_no_gifts">
                  You have no reserved gifts yet.
                </div>
              </div>
              <div class="empty_no_gifts_help">
                Reserve a gift by tapping on an image in the full registry section.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="my_items_wrapper">
        <div class="heading_wrapper">
          <div class="my_items_header">Full registry</div>
          <div class="my_items_sub_header">This is a full list of potential gifts. Tap on an item to reserve it as a gift.</div>
        </div>

        <div class="search_wrapper">
          <form [formGroup]="categoryFilter">
            <input placeholder="Search for an item" type="text" class="find_an_item" (keyup)="onSearchKeyUp($event)"/>
            <div class="search_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.591" height="17.592" viewBox="0 0 17.591 17.592">
                <g id="search" transform="translate(0.5 0.5)">
                  <circle id="Ellipse_4" data-name="Ellipse 4" cx="7.024" cy="7.024" r="7.024" transform="translate(0 0)" fill="none" stroke="#f3f2f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Line_18" data-name="Line 18" x1="3.96" y1="3.96" transform="translate(12.424 12.425)" fill="none" stroke="#f3f2f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
              </svg>
            </div>
          </form>
        </div>

        <div class="empty_state_wrapper" *ngIf="finalRegistry?.length == 0">
          <div class="empty_state">
            <div class="empty_state_text">
              <div class="empty_heading">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23">
                  <g id="tag-not-found" transform="translate(-18303 -9075)">
                    <path id="tag-arrow-down" d="M21.41,11.58l-9-9A2,2,0,0,0,11,2H4A2.006,2.006,0,0,0,2,4v7a1.966,1.966,0,0,0,.59,1.41l.41.4A5.822,5.822,0,0,1,6,12a6,6,0,0,1,6,6,5.858,5.858,0,0,1-.82,3l.4.4A2,2,0,0,0,13,22a1.966,1.966,0,0,0,1.41-.59l7-7A1.966,1.966,0,0,0,22,13a2.006,2.006,0,0,0-.59-1.42M5.5,7A1.5,1.5,0,1,1,7,5.5,1.5,1.5,0,0,1,5.5,7" transform="translate(18301 9073)"/>
                    <text id="_" data-name="?" transform="translate(18304 9087)" font-size="11" font-family="GreycliffCF-Bold, Greycliff CF" font-weight="700" letter-spacing="0.181em"><tspan x="0.896" y="9">?</tspan></text>
                  </g>
                </svg>
                <div class="empty_no_gifts">
                  No gift found.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gift_items_grid">
          <ng-container *ngFor="let item of finalRegistry">
            <div *ngIf="item.payload.doc.data().guest == ''" class="gift_item" (click)="selectItem(item);">
              <div class="gifts_image_outer_wrapper">
                <div class="gift_image_wrapper" [ngStyle]="{'background-image': 'linear-gradient(
                  rgba(51, 63, 54, 0.5), 
                  rgba(51, 63, 54, 0.5)
                ), url(' + item.payload.doc.data().url + ')'}">
                    <div class="gift_button_wrapper">
                      <div class="gift_button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.665 14.665">
                          <path id="tag-plus" d="M16.232,9.025l-6.6-6.6A1.465,1.465,0,0,0,8.6,2H3.467A1.467,1.467,0,0,0,2,3.467V8.6a1.442,1.442,0,0,0,.433,1.034l.3.293a4.269,4.269,0,0,1,2.2-.594,4.4,4.4,0,0,1,4.4,4.4,4.3,4.3,0,0,1-.6,2.2l.293.293a1.465,1.465,0,0,0,1.041.44,1.442,1.442,0,0,0,1.034-.433L16.232,11.1a1.442,1.442,0,0,0,.433-1.034,1.471,1.471,0,0,0-.433-1.041M4.566,5.666a1.1,1.1,0,1,1,1.1-1.1,1.1,1.1,0,0,1-1.1,1.1m3.3,8.8h-2.2v2.2H4.2v-2.2H2V13H4.2V10.8H5.666V13h2.2Z" transform="translate(-2 -2)" fill="#f3f2f2"/>
                        </svg>
                      </div>
                    </div>
                </div>
              </div>
              <div class="item_information_wrapper">
                <div>
                  <div class="item_category">{{item.payload.doc.data().category}}</div>
                  <div class="item_name">{{item.payload.doc.data().name}}</div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
  </div>
  
  <div class="added_popup_wrapper_registry hidden">
    <div class="added_popup_information_registry pulse_animation">
    </div>
  </div>
</div>



  <!-- <div class="registry_wrapper">
    <div class="filtering_wrapper at_top">
      <div class="search_filter_wrapper">
        <div class="search_wrapper">
          <form class="registry_search_bar" [formGroup]="categoryFilter">
            <input placeholder="Search for an item" type="text" (keyup)="onSearchKeyUp($event)" class="search_box search_box_registry at_top_search" />
          </form>
        </div>
      </div>
    </div>

    <div>
      <div class="my_items_wrapper">
        <div class="my_items_header">1. MY ITEMS <span class="my_items_sub_header">Your gifts</span></div>
        <div class="my_items_grid" *ngIf="guestsItems?.length > 0">
          <div class="my_items_information_wrapper" *ngFor="let item of guestsItems" class="gift_item" (click)="removeGuestItem(item);">
            <div class="image_outer_wrapper">
              <div class="image_wrapper" [ngStyle]="{'background-image': 'linear-gradient(
                rgba(51, 63, 54, 0.5), 
                rgba(51, 63, 54, 0.5)
              ),url(' + item.payload.doc.data().url + ')'}">
                <div class="remove_button_wrapper align_button_centre">
                  <div class="remove_button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.289" height="11.376" viewBox="0 0 10.289 11.376">
                      <g id="trash-2_1_" data-name="trash-2 (1)" transform="translate(-2.75 -1.75)">
                        <path id="Path_618" data-name="Path 618" d="M3,6h9.789" transform="translate(0 -1.825)" fill="none" stroke="#fff" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="0.5" />
                        <path id="Path_619" data-name="Path 619"
                          d="M12.613,4.175v7.613a1.088,1.088,0,0,1-1.088,1.088H6.088A1.088,1.088,0,0,1,5,11.789V4.175m1.631,0V3.088A1.088,1.088,0,0,1,7.719,2H9.894a1.088,1.088,0,0,1,1.088,1.088V4.175"
                          transform="translate(-0.912)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                        <line id="Line_30" data-name="Line 30" y2="3" transform="translate(7 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="0.5" />
                        <line id="Line_31" data-name="Line 31" y2="3" transform="translate(9 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="0.5" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="item_name">
              <div>{{item.payload.doc.data().name}}</div>
            </div>
          </div>
        </div>

        <div class="empty_state_wrapper" *ngIf="guestsItems?.length == 0">
          <div class="empty_state">
            <div class="empty_state_text">
              You have no gifts selected at the moment
            </div>
          </div>
        </div>
      </div>

      <div class="my_items_wrapper">
        <div class="my_items_header">2. LIST <span class="my_items_sub_header">All the items</span></div>
        <div class="my_items_grid">
          <ng-container *ngFor="let item of finalRegistry">
            <div *ngIf="item.payload.doc.data().guest == ''" class="my_items_information_wrapper" class="gift_item" (click)="selectItem(item);">
              <div class="image_outer_wrapper">
                <div class="image_wrapper" [ngStyle]="{'background-image': 'linear-gradient(
                  rgba(51, 63, 54, 0.5), 
                  rgba(51, 63, 54, 0.5)
                ), url(' + item.payload.doc.data().url + ')'}">
                  <div class="remove_button_wrapper gift_wrapper">
                    <div class="category_wrapper">
                      <div class="category_text">
                        <div>{{item.payload.doc.data().category}}</div>
                      </div>
                    </div>

                    <div class="gift_button_wrapper">
                      <div class="remove_button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.995" height="11.635" viewBox="0 0 10.995 11.635">
                          <g id="Group_212" data-name="Group 212" transform="translate(-38.75 -17.443)">
                            <path id="Path_613" data-name="Path 613" d="M12.346,12v5.248H4V12" transform="translate(36.074 11.581)" fill="none" stroke="#fff"
                              stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                            <rect id="Rectangle_72" data-name="Rectangle 72" width="10.495" height="2.624" transform="translate(39 20.719)" fill="none" stroke="#fff"
                              stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                            <line id="Line_27" data-name="Line 27" y1="8.527" transform="translate(44.248 20.301)" fill="none" stroke="#fff" stroke-linejoin="round"
                              stroke-width="0.5" />
                            <path id="Path_614" data-name="Path 614" d="M8.651,4.608H6.3A1.3,1.3,0,0,1,6.3,2C8.13,2,8.651,4.608,8.651,4.608Z"
                              transform="translate(35.596 15.693)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                            <path id="Path_615" data-name="Path 615" d="M12,4.608h2.347a1.3,1.3,0,1,0,0-2.608C12.522,2,12,4.608,12,4.608Z" transform="translate(32.248 15.693)"
                              fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item_name">
                <div>{{item.payload.doc.data().name}}</div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="empty_state_wrapper" *ngIf="finalRegistry?.length == 0">
          <div class="empty_state">
            <div class="empty_state_text">
              No items found
            </div>
          </div>
        </div>

        <div class="added_popup_wrapper_registry hidden">
          <div class="added_popup_information_registry pulse_animation">

          </div>
        </div>
      </div>
    </div>
  </div> -->