.guest{
    background-color: white;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    margin-right: 2px 10px 2px 2px;
  }

  td {
    background-color: white;
    margin-right: 2px 10px 2px 2px;
    min-width: 50px;
  }