<div class="music">
    <div class="content-wrapper">
      <div class="find_a_song_wrapper">
        <div class="heading_wrapper">
          <div class="my_items_header">Find a song</div>
          <div class="my_items_sub_header">Search for a song to request it</div>
        </div>
    
        <div class="search_wrapper">
          <form [formGroup]="musicFilter">
            <input placeholder="Search for a song" type="text" class="find_an_item" (keyup)="onSearchKeyUp($event)"/>
            <div class="search_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.591" height="17.592" viewBox="0 0 17.591 17.592">
                <g id="search" transform="translate(0.5 0.5)">
                  <circle id="Ellipse_4" data-name="Ellipse 4" cx="7.024" cy="7.024" r="7.024" transform="translate(0 0)" fill="none" stroke="#f3f2f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  <line id="Line_18" data-name="Line 18" x1="3.96" y1="3.96" transform="translate(12.424 12.425)" fill="none" stroke="#f3f2f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
              </svg>
            </div>
          </form>
        </div>


      <div *ngIf = "hasSearched == false">
          <div class="empty_state_wrapper">
              <div class="empty_state">
                <div class="empty_state_text">
                  <div class="empty_heading">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18.35">
                          <path id="cards-heart" d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.27,2,8.5A5.44,5.44,0,0,1,7.5,3,6.014,6.014,0,0,1,12,5.08,6.014,6.014,0,0,1,16.5,3,5.44,5.44,0,0,1,22,8.5c0,3.77-3.4,6.86-8.55,11.53Z" transform="translate(-2 -3)" fill="#f3f2f2"/>
                        </svg>
                    <div class="empty_no_gifts">
                      No songs searched for yet.
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div *ngIf = "hasSearched" class="searched_songs_wrapper">
          <div class="empty_state_wrapper" *ngIf="searchResults?.length == 0">
              <div class="empty_state">
                <div class="empty_state_text">
                  <div class="empty_heading">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20.4" height="20" viewBox="0 0 20.4 20">
                          <path id="feature-search" d="M20,20a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H9.5A6.963,6.963,0,0,0,9,6.5,6.487,6.487,0,0,0,15.5,13a4.638,4.638,0,0,0,2.1-.4L20,15v5M19.3,8.9A4.815,4.815,0,0,0,20,6.5,4.5,4.5,0,1,0,15.5,11a4.815,4.815,0,0,0,2.4-.7L21,13.4,22.4,12,19.3,8.9M15.5,9A2.5,2.5,0,1,1,18,6.5,2.476,2.476,0,0,1,15.5,9Z" transform="translate(-2 -2)" fill="#f3f2f2"/>
                        </svg>
                    <div class="empty_no_gifts">
                      No song found.
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="search_results_outer_wrapper" *ngIf="searchResults != null && searchResults?.length> 0">
              <div *ngFor="let song of
                  searchResults" (click)="addSong(song)">
                  <div class="search_results_wrapper">
                      <div class="album_wrapper">
                          <div class="album" [ngStyle]="{'background-image': 'linear-gradient(rgba(51, 63, 54, 0.5), rgba(51, 63, 54, 0.5)
                          ),url(' + song.imgUrl + ')'}"></div>
                      </div>
                      <div class="seached_song_wrapper">
                          <div>
                              <p class="song_artist">{{song.name}}</p>
                              <p class="song_name">{{song.artist}}</p>
                          </div>  
                      </div>
                      <div class="add_button_wrapper">
                          <div class="add_button">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18.35">
                                  <path id="cards-heart" d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.27,2,8.5A5.44,5.44,0,0,1,7.5,3,6.014,6.014,0,0,1,12,5.08,6.014,6.014,0,0,1,16.5,3,5.44,5.44,0,0,1,22,8.5c0,3.77-3.4,6.86-8.55,11.53Z" transform="translate(-2 -3)" fill="#f3f2f2"/>
                                </svg>
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
     

        <div class="added_songs_wrapper">
            <div class="heading_wrapper">
                <div class="my_items_header">Added Songs</div>
            </div>
            <div class="my_items_grid" *ngIf="guestSongs != null &&
                guestSongs?.length> 0">
                <div *ngFor="let song of guestSongs" class="gift_item">
                        <div *ngIf="song.payload.doc.data().user == gname">
                            <div class="selected_item" (click)="removeSong(song)">
                                <div class="image_outer_wrapper">
                                  <div class="image_wrapper" [ngStyle]="{'background-image': 'linear-gradient(
                                    rgba(51, 63, 54, 0.5), 
                                    rgba(51, 63, 54, 0.5)
                                  ),url(' + song.payload.doc.data().imgUrl + ')'}">
                                  </div>
                                </div>
                               
                                <div class="seached_song_wrapper">
                                  <div>
                                    <p class="song_artist">{{song.payload.doc.data().name}}</p>
                                    <p class="song_name">{{song.payload.doc.data().artist}}</p>
                                  </div>
                                </div>
                              
                                <div class="remove_button_wrapper">
                                  <div class="remove_button">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 19">
                                        <path id="heart-off" d="M1,4.27,2.28,3,20,20.72,18.73,22l-3.55-3.56-1.73,1.59L12,21.35l-1.45-1.32C5.4,15.36,2,12.27,2,8.5a5.611,5.611,0,0,1,.63-2.6L1,4.27M7.5,3A6.014,6.014,0,0,1,12,5.08,6.014,6.014,0,0,1,16.5,3,5.44,5.44,0,0,1,22,8.5c0,2.57-1.58,4.82-4.21,7.47L5.27,3.45A5.657,5.657,0,0,1,7.5,3Z" transform="translate(-1 -3)" fill="#f3f2f2"/>
                                      </svg>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
            </div>

            <div class="empty_state_wrapper" *ngIf="guestSongs?.length == 0">
                <div class="empty_state">
                  <div class="empty_state_text">
                    <div class="empty_heading">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19">
                            <path id="heart-off" d="M1,4.27,2.28,3,20,20.72,18.73,22l-3.55-3.56-1.73,1.59L12,21.35l-1.45-1.32C5.4,15.36,2,12.27,2,8.5a5.611,5.611,0,0,1,.63-2.6L1,4.27M7.5,3A6.014,6.014,0,0,1,12,5.08,6.014,6.014,0,0,1,16.5,3,5.44,5.44,0,0,1,22,8.5c0,2.57-1.58,4.82-4.21,7.47L5.27,3.45A5.657,5.657,0,0,1,7.5,3Z" transform="translate(-1 -3)" fill="#f3f2f2"/>
                        </svg>
                      <div class="empty_no_gifts">
                        You have no requested songs yet.
                      </div>
                    </div>
                    <div class="empty_no_gifts_help">
                      Request a song by searching and tapping on it.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="added_popup_wrapper_music hidden">
    <div class="added_popup_information_music pulse_animation">
    </div>
</div>