@import "../../../../scss/common.scss";

.music_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8%;
  position: relative;
  z-index: 0; 

  @media (min-width: 1024px) {
    padding: 5vh 25vw;
  }

  .music_header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .search_wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0 40px 0;
    width: 100%; 
    // position: relative;

    .search_box {
      width: 85%;

      
      @media (min-width: 1024px) {
        width: 25vw;
      }
    }

    form {
      width: 100%;
    }
  }

  .added_songs_wrapper {
    color: $secondary_green;
    position: relative;
    display: grid;
    gap: 35px;

    .added_songs_header {
      font-family: "Greycliff_medium_italic";
      font-size: 1rem;
      letter-spacing: 3px;
      padding-bottom: 30px;
    }

    .added_songs_grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 25px;
      grid-template-rows: masonry;

      @media (min-width: 1024px) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }

      .song_item {
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s; 

        &:hover {
          transform: scale(0.9);
          cursor: pointer;
        }

        &:active {
          transform: scale(0.9)
        }
      }

      .song_details {
        display: grid;
        grid-template-rows: auto auto;
        transition: all 0.3s;
        row-gap: 10px;
        line-height: 20px;

        p {
          margin: 0;
        }

        .song_name {
          letter-spacing: 3px;
          font-family: "Greycliff_bold";
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          padding-top: 10px;
        }

        .song_artist {
          font-family: "Greycliff_light_italic";
          letter-spacing: 3px;
          font-size: 0.75rem;
          margin-top: 2px;
        }
      }

      .image_outer_wrapper {
        .image_wrapper {
          height: 20vh;
          background-size: cover;
          background-position: center;
          border-radius: 15px;

          .remove_button_wrapper {
            display: flex;
            width: 100%;
            height: 100%;

            &.align_button_centre {
              justify-content: center;
              align-items: center;
            }

            .remove_button {
              display: flex;
              @include transparent_button;

              svg {
                transform: scale(2);
              }
            }
          }
        }
      }
    }
  }
}

// Bubble Styles
.bubble-wrapper {
  position: absolute;
  bottom: -40%;
  left: 0;
  z-index: -1;
}

.searched_songs_wrapper {
  color: $secondary_green;
  position: relative;

  .searched_songs_header {
    font-family: "Greycliff_medium_italic";
    font-size: 1rem;

    .found_songs {
      padding-bottom: 30px; 
    }
  }

.search_results_outer_wrapper {
  max-height: 50vh; 
  overflow-y: scroll;
  display: grid; 
  gap: 20px; 
  border: 1px solid $text_colour;
  padding: 8px;
  border-radius: 15px;
  background-color: rgba($text_colour, 0.1);

  @media screen and (min-width: 1000px) {
    max-height: 40vh; 
    padding: 25px;
  }

  .search_results_wrapper {
    display: grid;
    grid-template-columns: 60px auto auto;
    grid-gap: 20px;
    transition: all 0.3s;
    align-items: center;

    .add_button_wrapper {
      display: flex; 
      align-items: center;
      justify-content: flex-end;
      height: 100%;

      .add_button {
        height: 40px;
        width: 40px; 
        background-color: rgba($text_colour, 0.1);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 15px;
        }
      }
    }
    
    

    &:hover {
      cursor: pointer;
    }

    .album_wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .album {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 1px solid $text_colour;
        background-position: center;
        background-size: cover;
        box-shadow: 5px 2px 17px #13131387 inset;
      }
    }

    .song_information_wrapper {
      .song_name {
        letter-spacing: 3px;
        font-family: "Greycliff_bold";
        display: flex;
        align-items: center;
        font-size: 0.8rem;
      }

      .song_artist {
        font-family: "Greycliff_light_italic";
        letter-spacing: 3px;
        font-size: 0.75rem;
        margin-top: 2px;
      }
    }

    &:active {
      transform: scale(0.9);
    }

  }
}
}


.music {

  .heading_wrapper {
    display: grid;
    grid-row-gap: 10px;
    
      .my_items_header {
        font-family: "Baskerville_bold";
        color: $text_colour;
        font-size: 1.6rem;
        letter-spacing: 3px;
      }

      .my_items_sub_header{
        font-family: "Greycliff_light";
        color: rgba($text_colour, 0.2);
        font-size: 0.9rem;
        line-height: 25px;
      }
  }

  .seached_song_wrapper {
    display: grid;
    align-items: center;

    .song_artist {
      font-family: "Baskerville_semibold";
      color: $text_colour;
      font-size: 1rem;
      line-height: 20px;
      margin: 0; 
      padding-bottom: 7px;
    }
  
    .song_name {
      font-family: "Baskerville_semibold_italics";
      color: rgba($text_colour, 0.2);
      font-size: 1rem;
      margin: 0;
    }
  }

  .search_wrapper {

    form {
      position: relative;
  
      .search_icon {
        position: absolute;
        top: 10px;
        right: 20px;
      }
  
      .find_an_item {
        border: 1px solid $text_colour;
        background-color: rgba($text_colour, 0.1);
        padding: 10px 15px;
        border-radius: 50px;
        font-family: "Greycliff_light";
        color: $text_colour;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

.my_items_grid {
  display: grid;
  grid-row-gap: 20px;
}

.gift_item {
  display: grid;
  row-gap: 10px;
  align-items: flex-start;
}

.selected_item {
  display: grid; 
  grid-template-columns: 70px auto auto;
  grid-column-gap: 10px;
  transition: all 0.3s; 

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }

  .image_outer_wrapper {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    .image_wrapper {
      height: 60px; 
      width: 60px; 
      border-radius: 100%;
      border: 1px solid $text_colour;
      background-position: center;
      background-size: cover;
      box-shadow: 5px 2px 17px #13131387 inset;
    }
  }

  .item_information_wrapper {
    display: grid;
    align-items: center;

    .item_name {
      font-family: "Baskerville_semibold";
      color: $text_colour;
      width: 50vw;
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      margin: 0;
    }

    .item_category {
      font-family: "Baskerville_semibold_italics";
      color: rgba($text_colour, 0.2);
    }
  }

  .remove_button_wrapper {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .remove_button {
      height: 40px;
      width: 40px; 
      background-color: rgba($text_colour, 0.1);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

       svg {
        height: 15px;
       }
    }
  }
}

.added_popup_wrapper_music {
  position: fixed;
  bottom: -50px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  left: 50%;
  transform: translate(-50%, 0);

  &.hidden {
    opacity: 0;
  }

  &.show {
    opacity: 1;
    bottom: 40px;
  }

  .added_popup_information_music {
    background-color: rgba($text_colour, 0.8);
    padding: 10px 25px;
    border-radius: 30px;
    font-family: "Greycliff_bold";
    color: rgba($background, 0.7);
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    @include drop_shadow;
    fill: rgba($background, 0.7) !important;

    .feedback_icon {
      display: flex;
      align-items: center;
    }

    &.pulse_animation {
      box-shadow: 0 0 0 0 rgba($text_colour, 1);
      animation: pulse-green 2s infinite;
    }
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba($text_colour, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($text_colour, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($text_colour, 0);
  }
}

.empty_state_wrapper {
  .empty_heading {
    svg {
      opacity: 0.5;
    }
  }
}

.content-wrapper {
  display: grid;
  gap: 45px; 

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 5vw 10vw;
    gap: 5vw;
  }
}

.added_songs_wrapper {
  display: grid;
  gap: 45px; 

  @media screen and (min-width: 1000px) {
    grid-template-rows: min-content;
    align-items: flex-start;
  }
}

.find_a_song_wrapper {
  display: grid; 
  gap: 45px; 
}