<div class="music_wrapper">

    <div class="music_header">

        <div class="header-wrapper">
            <div>
                <h4>MUSIC</h4>
            </div>
            <div class="divider">
                <hr class="heading_divider" />
            </div>
            <div class="align_sub_heading">
                <p>Request a song you'd like to jam to</p> 
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <div class="search_wrapper">
            <form [formGroup]="musicFilter">
                <input placeholder="Find a song" type="text"
                    (keyup)="onSearchKeyUp($event)" class="search_box
                    at_top_search" />

                <!-- <object class="search_icon" data="../../../../assets/icons/search.svg" type="image/svg+xml" width="12" height="12"></object> -->
            </form>
        </div>


        <div *ngIf = "hasSearched" class="searched_songs_wrapper">
            <div class="searched_songs_header">
                <div class="found_songs" *ngIf="searchResults?.length != 0">
                    Songs Found
                </div>
                <div *ngIf="searchResults?.length == 0">
                    No songs were found 
                </div>
            </div>


            <div class="search_results_outer_wrapper" *ngIf="searchResults != null && searchResults?.length> 0">
                <div *ngFor="let song of
                    searchResults" (click)="addSong(song)">
                    <div class="search_results_wrapper">
                        <div class="album_wrapper">
                            <div class="album" [ngStyle]="{'background-image': 'linear-gradient(rgba(51, 63, 54, 0.5), rgba(51, 63, 54, 0.5)
                            ),url(' + song.imgUrl + ')'}"></div>
                        </div>
                        <div class="song_information_wrapper">
                            <p class="song_name">{{song.name}}</p>
                            <p class="song_artist">{{song.artist}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="added_songs_wrapper">
            <div class="added_songs_header">My Song Requests</div>
            <div class="added_songs_grid" *ngIf="guestSongs != null &&
                guestSongs?.length> 0">
                <div *ngFor="let song of guestSongs">
                    <div class="added_songs_information_wrapper"  class="song_item" (click)="removeSong(song)">
                        <div *ngIf="song.payload.doc.data().user == gname">
                            <div class="image_outer_wrapper">
                                <div class="image_wrapper"
                                [ngStyle]="{'background-image': 'linear-gradient(
                                        rgba(51, 63, 54, 0.5), 
                                        rgba(51, 63, 54, 0.5)
                                    ),url(' + song.payload.doc.data().imgUrl + ')'}">
                                    <div class="remove_button_wrapper
                                        align_button_centre">
                                        <div class="remove_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="10.289" height="11.376" viewBox="0 0 10.289 11.376">
                                                <g id="trash-2_1_" data-name="trash-2 (1)" transform="translate(-2.75 -1.75)">
                                                  <path id="Path_618" data-name="Path 618" d="M3,6h9.789" transform="translate(0 -1.825)" fill="none" stroke="#fff" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="0.5" />
                                                  <path id="Path_619" data-name="Path 619"
                                                    d="M12.613,4.175v7.613a1.088,1.088,0,0,1-1.088,1.088H6.088A1.088,1.088,0,0,1,5,11.789V4.175m1.631,0V3.088A1.088,1.088,0,0,1,7.719,2H9.894a1.088,1.088,0,0,1,1.088,1.088V4.175"
                                                    transform="translate(-0.912)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" />
                                                  <line id="Line_30" data-name="Line 30" y2="3" transform="translate(7 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="0.5" />
                                                  <line id="Line_31" data-name="Line 31" y2="3" transform="translate(9 7)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="0.5" />
                                                </g>
                                              </svg> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="song_details">
                                <p class="song_name">{{song.payload.doc.data().name}}</p>
                                <p class="song_artist">{{song.payload.doc.data().artist}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty_state_wrapper" *ngIf="guestSongs?.length == 0">
                <div class="empty_state">
                    <div class="empty_state_text">
                        You haven't requested any songs
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- <div class="bubble-wrapper">
        <object data="../../../../assets/images/circles_bottom.svg"
            type="image/svg+xml"></object>
    </div> -->

    <div class="added_popup_wrapper_music hidden">
        <div class="added_popup_information_music pulse_animation">

        </div>
      </div>
</div>