<div class="details_wrapper">

    <div class="details_header">

        <div class="header-wrapper">
            <div>
                <h4>DETAILS</h4>
            </div>
            <div class="divider">
                <hr class="heading_divider" />
            </div>
            <div class="align_sub_heading">
                <p>Some wedding deets</p> 
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="details_tab_wrapper">
            <div class="wedding_detail_item">
                <p class="category_desc">Date</p>
                <!-- <p class="category_icon"><object data="../../../../assets/icons/calendar.svg" type="image/svg+xml"></object></p> -->
                <div class="dot_details"></div>
                <p class="main_text">6th November 2021</p>
            </div>

            <div class="wedding_detail_item">
                <p class="category_desc">Time</p>
                <div class="dot_details"></div>
                <p class="main_text">15:00 for 15:30</p>
            </div>

            <div class="wedding_detail_item">
                <p class="category_desc">Dress Code</p>
                <div class="dot_details"></div>
                <p class="main_text">Formal</p>
            </div>

            <div class="wedding_detail_item">
                <p class="category_desc">Place</p>
                <div class="dot_details"></div>
                <p class="main_text">The Greenhouse Cafe at Rosemary Hill</p>
                <p class="sub_text">Plot 257 R964, Mooiplaats, Pretoria, 0001</p>

                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.381431784752!2d28.41548051556695!3d-25.790987453565986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e955bbc2b4b423f%3A0x51f80fb9f58a872c!2sThe%20Greenhouse%20Cafe%20at%20Rosemary%20Hill!5e0!3m2!1sen!2sza!4v1632671244675!5m2!1sen!2sza"
                        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

            <div class="wedding_detail_item">
                <p class="category_desc">Covid</p>
                <div class="dot_details"></div>
                <p class="main_text">All covid regulations will apply</p>
            </div>

            <!-- <div class="wedding_detail_item">
                <p class="category_desc">Live Stream</p>
                <div class="dot_details"></div>
                <p class="main_text">For those of you that cannot make the wedding we would 
                    still love to share our special day with you
                </p>
                <div class="details_follow" (click)="changePage('rsvp')">
                    Take me to the stream
                </div>
            </div> -->
        </div>
    </div>
</div>