@import "../../../../scss/common.scss";

.details {
  min-height: 80vh;
  display: grid;
  align-items: center;

  @media screen and (min-width: 1000px) {
    padding: 5vw 10vw;
    gap: 2vw;
  }

  .detils_outer_wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 10px;

    @media screen and (min-width: 1000px) {
      justify-content: center;
    }
  
    .detail_wrapper {
      display: grid; 
      grid-template-columns: auto auto;
      gap: 20px;
      justify-content: flex-start;
      align-items: center;
      
        .detail_icon_wrapper {
          height: 55px;
          width: 55px; 
          background-color: rgba($text_colour, 0.1);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $text_colour;
    
          svg {
            height: 20px;
          }
      }
    
      .details_wrapper {
        display: grid;
        gap: 5px; 
    
        .detail_name {
          font-family: "Baskerville_semibold_italics";
          color: rgba($text_colour, 0.2);
          font-size: 1.1rem;
        }
      
        .detail_description {
          font-family: "Baskerville_semibold";
          color: $text_colour;
          font-size: 1rem;
          line-height: 25px;
        }

        .detail_description_sub {
          font-family: "Baskerville_semibold";
          color: $text_colour;
          font-size: 0.7rem;
          line-height: 15px;
        }
      }
    }
  }
  
  .children_disclaimer {
    text-align: center;
    font-family: "Baskerville_semibold_italics";
    color: rgba($text_colour, 0.4);
    font-size: 1.1rem;
    line-height: 25px;
    padding-top: 3vh;
  }
}

.map {
  padding-top: 3vh;

  @media screen and (min-width: 1000px) {
    display: grid; 
    justify-content: center;
  }

  iframe {
    border: 1px solid $text_colour; 
    border-radius: 5px;
  }
}



