
<div class="details">
    <div class="detils_outer_wrapper">
        <div class="detail_wrapper">
            <div class="detail_icon_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.12 15.69">
                    <path id="calendar-heart" d="M15.551,16.121V7.492H4.569v8.629H15.551M13.2,2h1.569V3.569h.784A1.569,1.569,0,0,1,17.12,5.138V16.121a1.569,1.569,0,0,1-1.569,1.569H4.569A1.569,1.569,0,0,1,3,16.121V5.138A1.569,1.569,0,0,1,4.569,3.569h.784V2H6.922V3.569H13.2V2M10.06,14.685l-.455-.416C7.989,12.8,6.922,11.838,6.922,10.653A1.711,1.711,0,0,1,8.648,8.927a1.88,1.88,0,0,1,1.412.651,1.88,1.88,0,0,1,1.412-.651A1.711,1.711,0,0,1,13.2,10.653c0,1.185-1.067,2.15-2.683,3.617Z" transform="translate(-3 -2)" fill="#f3f2f2"/>
                </svg>
            </div>
            <div class="details_wrapper">
                <div class="detail_name">Date</div>
                <div class="detail_description">July 30, 2022</div>
            </div>
        </div>
        
        <div class="detail_wrapper">
            <div class="detail_icon_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path id="clock-time-three" d="M10,2a8,8,0,1,0,8,8,8.024,8.024,0,0,0-8-8m4,8.8H9.2V6h1.2V9.6H14Z" transform="translate(-2 -2)" fill="#f3f2f2"/>
                </svg>
            </div>
            <div class="details_wrapper"> 
                <div class="detail_name">Time</div>
                <div class="detail_description">14h30 for 15h00</div>
            </div>
        </div>
        
        <div class="detail_wrapper">
            <div class="detail_icon_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.049 14.439">
                    <path id="hanger" d="M11.024,4A3.159,3.159,0,0,0,7.866,7.159h1.8a1.354,1.354,0,1,1,1.354,1.354.905.905,0,0,0-.9.9v1.579L2.361,16.815A.9.9,0,0,0,2.9,18.439H19.146a.9.9,0,0,0,.541-1.624l-7.761-5.821v-.812A3.156,3.156,0,0,0,11.024,4m0,8.573,5.415,4.061H5.61Z" transform="translate(-2 -4)" fill="#f3f2f2"/>
                </svg>
            </div>
            <div class="details_wrapper">
                <div class="detail_name">Dress-code</div>
                <div class="detail_description">Formal</div>
            </div>
        </div>
        
        <div class="detail_wrapper">
            <div class="detail_icon_wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.936 18.48">
                    <path id="map-marker" d="M11.468,10.778a2.31,2.31,0,1,1,2.31-2.31,2.31,2.31,0,0,1-2.31,2.31m0-8.778A6.468,6.468,0,0,0,5,8.468c0,4.851,6.468,12.012,6.468,12.012s6.468-7.161,6.468-12.012A6.468,6.468,0,0,0,11.468,2Z" transform="translate(-5 -2)" fill="#f3f2f2"/>
                </svg>
            </div>
            <div class="details_wrapper">
                <div class="detail_name">Place</div>
                <div class="detail_description">Kleinkaap Boutique Hotel</div>
                <div class="detail_description_sub">87 Jim Van Der Merwe St, Clubview, Centurion, 0140</div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.8740985927325!2d28.175282115276175!3d-25.840693655569495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95646bef348bfb%3A0x96b1ed4a5b9cd1ca!2sKleinkaap%20Boutique%20Hotel!5e0!3m2!1sen!2sza!4v1653649376135!5m2!1sen!2sza" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="children_disclaimer">
        Regrettably we are only able to accommodate children of immediate family at our celebration. We thank you for your understanding.
    </div>
</div>

