@import "../../../../scss/common.scss";

.details_wrapper {
  display: flex;
  flex-direction: column;
  padding: 8%;
  position: relative;
  z-index: 1;

  
  @media (min-width: 1024px) {
    padding: 5vh 25vw;
  }

  .content-wrapper {
    z-index: 1;

    .details_tab_wrapper {
      display: grid;
      grid-row-gap: 50px;
      padding-top: 30px;

      .wedding_detail_item {
        color: $secondary_green;
        letter-spacing: 2px;

        p {
          margin: 0;
          margin-top: 13px;
        }

        .category_desc {
          font-family: "Greycliff_medium_italic";
          font-size: 0.9rem;
        }

        .dot_details {
          height: 5px; 
          width: 5px; 
          background-color: rgba($secondary_green, 0.3); 
          border-radius: 100%;
          margin-top: 13px;
        }

        .main_text {
          font-family: "Greycliff_bold";
        }

        .details_follow {
          padding-top: 20px; 
          font-family: "Greycliff_medium_italic";
        }

        .sub_text {
          font-family: "Greycliff_medium_italic";
          font-size: 0.8rem;
          margin-top: 25px;
        }

        // https://cssgrid-generator.netlify.app/ - This is how I generated the grid btw

        .map {
          margin-top: 25px;
          cursor: pointer;

          iframe {
            height: 100%;
            border: 0;
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
