@import "scss/common.scss";

body {
    margin: 0; 
    background-color: $background; 
    overflow-x: hidden;
    background-image: url(assets/images/Dani/background-flowers.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1000px) {
      background-image: url(assets/images/Dani/background-final.svg);
      background-size: contain;
      background-position: top;
    }
  }