@import "../../../../scss/common.scss";

.rsvp_wrapper {
  display: flex;
  flex-direction: column;
  // padding: 8%;
  position: relative;
  z-index: 1;

  .rsvp_header {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 2vh;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
      gap: 5vw;
    }
  }

  .form-wrapper {
    display: none;
    width: 79vw;

    @media (min-width: 1000px) {
      width: 45vw;
      padding: 0px 20vw;
    }

    .active{
      background-color: blue;
      opacity: 1;
    }

    &.active {
      display: block;
    }

    .form-heading {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 70px;
      color: $text_colour;
      font-family: "Baskerville_bold";
      grid-gap: 20px;
      justify-content: flex-start;
      letter-spacing: 2px;
      font-size: 1.7rem;
      align-items: center;
      padding-bottom: 2vh;

      p {
        margin: 0; 
      }
    }

    .form-section {
      pointer-events: all;
      display: grid;
      gap: 20px;

      p {
        margin: 0; 
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      .form-section-label {
        font-family: "Baskerville_semibold";
        color: $text_colour;
        letter-spacing: 2px;
        font-size: 0.9rem;
        line-height: 25px;
      }
    }
  }
}

// Radio buttons
.custom-radio-control-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: flex-start;
}

.custom-radio-control {
  display: grid;
  cursor: pointer;
  grid-auto-rows: 1fr;
  row-gap: 8px;

  &:nth-child(2) {
    padding: 3%;
  }

  .radio-control {
    background-color: rgba($text_colour, 0.2);
    border: 1px solid $text_colour;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .control_check {
      stroke-width: 1.5px;
    }
  }

  label {
    font-size: 0.7rem;
    color: $text_colour;
    font-family: "Greycliff_medium";
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Menu Items
.menu_items_information_wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .image_wrapper {
    height: 10vh;
    width: 10vh;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border-radius: 100%;
    margin: 0 auto;
    border: 1px solid $text_colour;
  }

  .menu_item {
    cursor: pointer;
    transition: all 0.3s; 

    .item_desc {
      font-family: "Baskerville_semibold";
      color: $text_colour;
      font-size: 0.9rem;
      line-height: 22px;
      text-align: center;
      letter-spacing: 1px;
    }

    &:active {
      transform: scale(0.95);
    }

    &.selected {
      transform: scale(1);
      opacity: 1; 
    }

    &.notSelected {
      transform: scale(0.9);
      opacity: 0.5; 
    }
  }
}



// Button Styles

.submit_wrapper {
  // display: grid;
  // grid-template-columns: auto;
  // padding: 0 5vh;
  // justify-content: center;
  // grid-row-gap: 40px;
  // position: relative;

  .submitted_wrapper {
    .submitted_successfully {
      padding-bottom: 50px;
      font-family: "Greycliff_Thin";
  
      .success {
        padding-bottom: 20px; 
        text-align: center;
      }
      
      .edit {
        font-size: 0.8rem; 
      }

      p {
        line-height: 25px;
      }
    }
  
    .alternate_options_wrapper {
      display: grid; 
      grid-template-columns: auto auto;
      grid-gap: 20px; 
      justify-content: center;
  

      
      .option_wrapper {
        .alternate_option {
            border-radius: 50px;
            border: none;
            background-color: rgba(233, 229, 224, 0.1);
            color: $secondary_green;
            border: 1px solid $secondary_green;
            font-family: "Greycliff_medium_italic";
            font-size: 0.7rem;
            padding: 10px 15px;
            margin: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s all;
            letter-spacing: 3px;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            cursor: pointer;
      
            &:active {
              transform: scale(0.9);
            }
        }


        p {
          padding-bottom: 20px; 
        }
      }
    }
  }

  p {
    margin: 0; 
    color: $secondary_green;
    font-family: "Greycliff_medium_italic"; 
  }

  .submit_button {
    display: grid; 
    justify-content: center;
  }

  .form-stepper {
    display: flex;

    p {
      margin: 0;
    }

    .arrow_wrapper {
      margin: 0 10px;
      opacity: 0.25;
      pointer-events: none;

      &.available-step {
        pointer-events: all;
        opacity: 1;
        cursor: pointer;
      }

      &.arrow_prev {
        transform: rotateY(180deg);
      }

      object {
        width: 100%;
        pointer-events: none;
      }
    }
  }

  .step-hint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hints {
      display: flex;

      .hint {
        height: 9px;
        width: 9px;
        background-color: $secondary_green;
        margin: 2px;
        border-radius: 50%;
        opacity: 0.25;

        &.current-hint {
          width: 25px;
          border-radius: 50px;
          opacity: 1;
        }
      }
    }

    .hint-text {
      color: $secondary_green;
      font-family: "Greycliff_light";
      letter-spacing: 3px;
      margin: 0;
      margin-top: 5px;
      font-size: 0.8rem;
    }
  }

  .submit_button {
    display: grid;
    justify-content: center;
    align-items: center;

    .submit_btn {
      border: 1px solid $text_colour;
      color: $text_colour;
      border-radius: 50px;
      background-color: rgba(243, 242, 242, 0.1);
      box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      display: grid;
      justify-content: center;
      padding: 10px 20px;
      font-family: "Greycliff_medium";
      letter-spacing: 3px;
      font-size: 0.8rem;
    
      &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.3;
      }

      &.enabled {
        cursor: pointer;
        opacity: 1;
      }

      &:active {
        transform: scale(0.9);
      }
    
      object {
        margin: 0 5px;
      }
    }
  }

  .stepper_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}


.added_popup_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  z-index: 10; 
  pointer-events: none;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  &.hidden {
    opacity: 0;
    bottom: -50px;
  }

  &.show {
    opacity: 1;
    bottom: 40px;
  }

  .added_popup_information {
    background-color: rgba($text_colour, 0.8);
    padding: 10px 25px;
    border-radius: 30px;
    font-family: "Greycliff_bold";
    color: rgba($background, 0.7);
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    @include drop_shadow;
    fill: rgba($background, 0.7) !important;

    .feedback_icon {
      display: flex;
      align-items: center;
    }

    &.pulse_animation {
      box-shadow: 0 0 0 0 rgba($text_colour, 1);
      animation: pulse-green 2s infinite;
    }
  }
}

// Bubble Styles
.bubble-wrapper {
  position: absolute;
  bottom: -10%;
  right: 0;
  z-index: -1;
}

// Form Validation
.error-container {
  li {
    text-transform: uppercase;
    color: $secondary_green;
    font-family: "Greycliff_medium";
  }
}

.scrollContainer{
  overflow-x: scroll;
  display: flex;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.RsvpPositionContainer{
  // display: flex;
  // justify-content: space-evenly;
  // width: 100%;
  // padding-bottom: 3vh; 
  // letter-spacing: 3px;
  // flex-wrap: wrap;
  // row-gap: 10px;

  .streaming_link_wrapper {
    padding: 0 5vh 4vh 5vh; 

    .streaming_link_heading {
      display: grid;
      width: 100%;
      grid-template-columns: auto auto;

      .heading {
        padding-bottom: 4vh;
        color: #667d6b;
        font-family: "Greycliff_bold";
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
      }

      .time {
        display: flex;
        justify-content: flex-end;
        color: #667d6b;
        font-family: "Greycliff_medium_italic";
        font-size: 0.9rem;
        letter-spacing: 3px;
      }
    
    }

    .streaming_link_iframe {
      iframe {
        width: 100%; 
      }
    }
  }

  
  @media (min-width: 1000px) {
    justify-content: center;

    .validation_stepper_wrapper {
      padding: 0 10px; 

      &:hover {
        cursor: pointer;
      }
    }
  }

  .validation_stepper_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .name_stepper_wrapper {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 5px;
    }

    .validation_icons {
      transform: scale(0.8) translateY(2px);
   
    }

    .name_stepper {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.validation_stepper_wrapper {
  display: grid; 
  gap: 10px;
  grid-template-columns: auto auto;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .validation_icons {
    display: grid;
    justify-content: center;
  }
}


.selectedPerson{
  color: $text_colour;
  font-family: "Greycliff_medium";
  letter-spacing: 1px;
}

.notSelectedPerson{
  font-family: "Greycliff_medium";
  letter-spacing: 1px;
  color: $text_colour;
  opacity: 0.5;
  text-overflow: ellipsis;
}

.form-sections {
  display: grid;
  gap: 30px;
  padding-bottom: 5vh; 
}

.alternative_actions_wrapper {
  height: 12vh; 
}

.image_outer_wrapper {
  display: grid;
  gap: 10px;
}

.gifts_image_outer_wrapper {
  .gift_image_wrapper {
    margin: 0 auto;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid $text_colour;
    position: relative;
    box-shadow: 5px 2px 17px #13131387 inset;

    @media screen and (min-width: 1000px) {
      height: 13vw;
      width: 13vw;
    }

    .gift_button_wrapper {
      position: absolute;
      bottom: 4vw;
      right: 4vw;

      @media screen and (min-width: 1000px) {
        bottom: 2vw;
        right: 2vw;
      }
  
      .gift_button {
        height: 8vw; 
        width: 8vw; 
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgba($text_colour, 0.2);

        @media screen and (min-width: 1000px) {
          height: 4vw; 
          width: 4vw; 
        }
  
        svg {
          height: 4vw;

          @media screen and (min-width: 1000px) {
            height: 2vw; 
          }
        }
      }
    }
  }
}

.empty_state_wrapper {
  padding-top: 45px; 
}