<div class="rsvp_wrapper">
    <div class="rsvp_header">
        <!-- <div class="header-wrapper">
            <div>
                <h4>RSVP</h4>
            </div>
            <div class="divider">
                <hr class="heading_divider" />
            </div>
            <div class="align_sub_heading">
                <p>RSVP by 16th October 2021</p>
            </div>
        </div> -->
        <div class="header-wrapper">
            <div>
                <h4>STREAMING</h4>
            </div>
            <div class="divider">
                <hr class="heading_divider" />
            </div>
            <div class="align_sub_heading">
                <p>Use these links to watch the live stream</p>
            </div>
        </div>
    </div>
    <div class="RsvpPositionContainer">
        <div class="streaming_link_wrapper">
            <div class="streaming_link_heading"> 
                <div class="heading">
                    1. Ceremony Link
                </div>
                <div class="time">
                    Time: 15:30
                </div>
            </div>
            <div class="streaming_link_iframe">
                <iframe src="https://www.youtube.com/embed/-r2_3xRktdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="streaming_link_wrapper">
            <div class="streaming_link_heading"> 
                <div class="heading">
                    2. Reception Link
                </div>
                <div class="time">
                    Time: 18:45
                </div>
            </div>
            <div class="streaming_link_iframe">
                <iframe src="https://www.youtube.com/embed/rFmY1bMsanQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <!-- <div *ngFor="let rsvp of rsvps.controls; index as i"
            [ngClass]="currentStep == i ? 'selectedPerson' : 'notSelectedPerson'">
            <div class="validation_stepper_wrapper" (click)="scrollTo(i)" *ngIf="personsData[i]?.name != null">
                <div class="validation_icons">
                    <span *ngIf="personsData[i].error != 'X'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21.813" height="21.526" viewBox="0 0 21.813 21.526">
                            <g id="check-circle_1_" data-name="check-circle (1)" transform="translate(-1.248 -1.232)">
                              <path id="Path_686" data-name="Path 686" d="M22,11.08V12a10,10,0,1,1-5.93-9.14" fill="none" stroke="#667d6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                              <path id="Path_687" data-name="Path 687" d="M22,4,12,14.01l-3-3" fill="none" stroke="#667d6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                            </g>
                        </svg>
                  </span>
                  <span *ngIf="personsData[i].error == 'X'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.5" height="21.5" viewBox="0 0 21.5 21.5">
                        <circle id="circle" cx="10" cy="10" r="10" transform="translate(0.75 0.75)" fill="none" stroke="#667d6b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                      </svg>                  
                  </span>
                </div>
                <div class="name_stepper_wrapper">
                    <div class="name_stepepr">
                        {{personsData[i].name}}
                    </div>
                    <span *ngIf="personsData[i].isPlusOne"> (+1)</span>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class='scrollContainer' (scroll)="scrollContainerScrolling($event)">
        <div *ngFor="let rsvp of rsvps.controls; index as i"
            class='rsvpPerson{{i}}'>

            <div [formGroup]="rsvp">

                <div class="form-wrapper active">
                    <div class="form-heading" *ngIf="personsData[i].name != ''
                        || !showPlusOne">
                        <div>
                            <p> {{i + 1}}. </p>
                        </div>
                        <div>
                            <p *ngIf="!personsData[i].isPlusOne">For
                                {{personsData[i].name}}</p>
                            <input placeholder="Plus one's name"
                                (keyup)="plusOneAddition($event)"
                                class="search_box plus_one"
                                *ngIf="personsData[i].isPlusOne" type="test"
                                formControlName='name'/>
                        </div>
                    </div>
                    <div class="form-sections">
                        <div class="form-section">
                            <p class="form-section-label">Are you coming to
                                celebrate?</p>
                            <div class="custom-radio-control-wrapper">
                                <div class="custom-radio-control"
                                    (click)="toggleComingControl(true, rsvp)">
                                    <input type="radio" formControlName="coming"
                                        value="yes" type="hidden"
                                        [checked]="rsvp.controls['coming'].value"
                                        />
                                    <div class="radio-control">
                                        <object
                                            *ngIf="rsvp.controls['coming'].value"
                                            data="../../../assets/icons/check.svg"
                                            type="image/svg+xml"
                                            class="control_check" height="9"
                                            width="9"></object>
                                    </div>
                                    <label>Yes</label>
                                </div>

                                <div class="custom-radio-control"
                                    (click)="toggleComingControl(false, rsvp)">
                                    <input type="radio" formControlName="coming"
                                        value="no" type="hidden"
                                        [checked]="!rsvp.controls['coming'].value"
                                        />
                                    <div class="radio-control">
                                        <object
                                            *ngIf="!rsvp.controls['coming'].value"
                                            data="../../../assets/icons/check.svg"
                                            type="image/svg+xml"
                                            class="control_check" height="9"
                                            width="9"></object>
                                    </div>
                                    <label>No</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-section" [ngClass]="{'disabled':
                            rsvp.controls['coming']?.value !== true}">
                            <p class="form-section-label">What would you like to
                                eat for dinner?</p>
                            <div>

                                <div class="menu_items_information_wrapper">
                                    <div class="menu_item" *ngFor="let menuItem
                                        of mealOptions"
                                        (click)="selectMeal(menuItem.id, rsvp)"
                                        [ngClass]="rsvp.controls['meal'].value
                                        == menuItem.id &&
                                        rsvp.controls['coming']?.value == true ?
                                        'selected' : 'notSelected'">
                                        <div class="image_outer_wrapper">
                                            <div class="image_wrapper"
                                                [ngStyle]="{'background-image':'url('
                                                + menuItem.imgUrl + ')'}">
                                            </div>
                                            <div class="item_desc">
                                                <div>
                                                    <p>
                                                        <object
                                                            *ngIf="menuItem.id
                                                            ===
                                                            'cauliflowerSteak'"
                                                            data="../../../assets/icons/veg_meal.svg"
                                                            type="image/svg+xml"></object>
                                                        {{ menuItem.desc }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="added_popup_wrapper hidden">
        <div class="added_popup_information pulse_animation">
            Submitted RSVP!
        </div>
    </div> -->
</div>
<!-- 
<div class="submit_wrapper">
    <div class="submit_button">
        <button [ngClass]="somethingNotFilledIn ? 'disabled' : 'enabled'" type="submit" class="submit_btn" (click)='submitRSVP()'>
            SUBMIT YOUR RSVP
        </button>
    </div>
    <div *ngIf="submitedForm" class="submitted_wrapper">
        <div class="submitted_successfully">
            <p class="success">Your RSVP has been submitted</p>
            <p class="edit"> Feel free to come back and edit your responses before the 16th October.</p>
        </div>
        <div class="alternate_options_wrapper">
            <div class="option_wrapper">
                <div>
                    <input class="alternate_option" type='button' value="Request a song" (click)="changePage('music', 1)">
                </div>
            </div>
            <div class="option_wrapper">
                <div>
                    <input class="alternate_option" type='button' value="View the details" (click)="changePage('details', 1)">
                </div>
            </div>
        </div>
    </div>
</div> -->


