<div class="rsvp_wrapper">

    <div class="rsvp_header">

        <div class="header-wrapper">
            <div>
                <h4>RSVP</h4>
            </div>
            <div>
                <hr class="heading_divider" />
            </div>
            <div class="align_sub_heading">
                <p>RSVP by 16th October 2021</p> 
            </div>
        </div>
    </div>
    <div *ngFor="let rsvp of rsvps.controls; index as i">

        <ng-container [formGroup]="rsvp">

            <div class="form-wrapper" [ngClass]="{'active': currentStep == i}">

                <div class="form-heading" *ngIf="personsData[i].name != '' || !showPlusOne">
                    <p> {{i + 1}}. </p>
                    <p *ngIf="!personsData[i].isPlusOne">For {{personsData[i].name}}</p>
                    <input *ngIf="personsData[i].isPlusOne" type="test" formControlName='name'/>
                </div>

                <!-- <p *ngIf="personsData[i].name == '' && showPlusOne">Name</p> -->

                <div class="form-sections" *ngIf="personsData[i].name != '' || showPlusOne">
                    <div class="form-section">
                        <p class="form-section-label">Are you coming to celebrate?</p>
                        <div class="custom-radio-control-wrapper">
                            <div class="custom-radio-control" (click)="toggleComingControl(true, rsvp)">
                                <input type="radio" formControlName="coming" value="yes" type="hidden" [checked]="rsvp.controls['coming'].value" />
                                <div class="radio-control">
                                    <object *ngIf="rsvp.controls['coming'].value" data="../../../assets/icons/check.svg" type="image/svg+xml" class="control_check" height="9"
                                        width="9"></object>
                                </div>
                                <label>Yes</label>
                            </div>

                            <div class="custom-radio-control" (click)="toggleComingControl(false, rsvp)">
                                <input type="radio" formControlName="coming" value="no" type="hidden" [checked]="!rsvp.controls['coming'].value" />
                                <div class="radio-control">
                                    <object *ngIf="!rsvp.controls['coming'].value" data="../../../assets/icons/check.svg" type="image/svg+xml" class="control_check" height="9"
                                        width="9"></object>
                                </div>
                                <label>No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-section" [ngClass]="{'disabled': rsvp.controls['coming']?.value !== true}">
                        <p class="form-section-label">What would you like to eat for dinner?</p>
                        <div>

                            <div class="menu_items_information_wrapper">

                                <div class="menu_item" *ngFor="let menuItem of mealOptions" (click)="selectMeal(menuItem.id, rsvp)"
                                    [ngClass]="{'active': rsvp.controls['meal'].value == menuItem.id}">
                                    <div class="image_outer_wrapper">
                                        <div class="image_wrapper" [ngStyle]="{'background-image':'url(' + menuItem.imgUrl + ')'}">
                                        </div>
                                    </div>
                                    <div class="item_desc">
                                        <div>
                                            <p>
                                                <object *ngIf="menuItem.id === 'cauliflowerSteak'" data="../../../assets/icons/veg_meal.svg" type="image/svg+xml"></object>
                                                {{ menuItem.desc }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-section" [ngClass]="{'disabled': rsvp.controls['coming']?.value !== true}">
                        <p class="form-section-label">Are you vaccinated?</p>

                        <div class="custom-radio-control-wrapper">
                            <div class="custom-radio-control" (click)="toggleVaccineControl(true, rsvp)">
                                <input type="radio" formControlName="vaccinated" value="yes" type="hidden" [checked]="rsvp.controls['vaccinated'].value" />
                                <div class="radio-control">
                                    <object *ngIf="rsvp.controls['vaccinated'].value" data="../../../assets/icons/check.svg" type="image/svg+xml" class="control_check"
                                        height="9" width="9"></object>
                                </div>
                                <label>Yes</label>
                            </div>

                            <div class="custom-radio-control" (click)="toggleVaccineControl(false, rsvp)">
                                <input type="radio" formControlName="vaccinated" value="no" type="hidden" [checked]="!rsvp.controls['vaccinated'].value" />
                                <div class="radio-control">
                                    <object *ngIf="!rsvp.controls['vaccinated'].value" data="../../../assets/icons/check.svg" type="image/svg+xml" class="control_check"
                                        height="9" width="9"></object>
                                </div>
                                <label>No</label>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <input type='text' *ngIf="personsData[i].name == '' && showPlusOne" formControlName="name" />
    
                <button *ngIf="personsData[i].isPlusOne == 'yes' &&
                    personsData[i].name == '' && !showPlusOne" (click)="addPlusOne()">
                    add plus one
                </button>
    
                <button *ngIf="(personsData[i].isPlusOne == 'yes' &&
                    personsData[i].name != '') || (showPlusOne &&
                    personsData[i].isPlusOne == 'yes' )" (click)="removePlusOne(rsvp,i)">
                    remove plus one
                </button> -->
            </div>

        </ng-container>

    </div>

    <div class="error-container" *ngIf="showErrors">
        <ul>
            <li *ngFor="let error of errorList">{{error.name}} {{error.error}}</li>
        </ul>
    </div>

    <div class="submit_wrapper">
        <div class="submit_button"> 
            <button type="submit" class="submit_btn" (click)='submitRSVP()'>
                Submit
            </button>
        </div>
        <div class="stepper_wrapper">
            <div class="form-stepper">
                <div class="arrow_wrapper arrow_prev" (click)="currentStep = currentStep - 1" [ngClass]="{'available-step' : currentStep > 0}">
                    <object data="../../../assets/icons/double_arrows.svg" type="image/svg+xml" height="10" width="10"></object>
                </div>
    
                <div class="step-hint">
                    <div class="hints">
                        <div class="hint" [ngClass]="{'current-hint' : currentStep === i}" *ngFor="let rsvp of rsvps.controls; index as i"></div>
                    </div>
                    <p class="hint-text">{{ currentStep + 1 }} of {{ rsvps.controls.length}}</p>
                </div>
    
                <div class="arrow_wrapper arrow_next" (click)="currentStep = currentStep + 1" [ngClass]="{'available-step' : currentStep < rsvps.controls.length - 1}">
                    <object data="../../../assets/icons/double_arrows.svg" type="image/svg+xml" height="10" width="10"></object>
                </div>
            </div>
        </div>
    </div>
   

    <div class="bubble-wrapper">
        <object data="../../../../assets/images/circles_top.svg" type="image/svg+xml"></object>
    </div>
</div>