@import "../../../../scss/common.scss";

.landing_page {
  .welcome_message {
    display: grid;
    gap: 3vh;

    .greeting {
      font-family: "Baskerville_bold";
      font-size: 1.8rem;
      color: $text_colour;
      margin: 0;
      text-align: center;
    }

    .count_down_timer {
      display: grid;
      justify-content: center;
      text-align: center;
      grid-template-columns: repeat(5, minmax(0, 1fr));;

      p {
        margin: 0; 
      }

      .separator {
        font-family: "Baskerville_semibold";
        color: $text_colour;
        font-size: 1.3rem;
        line-height: 25px;
      }

      .countdown_item {
        display: grid;
        gap: 3px;
        
        .value {
          font-family: "Baskerville_semibold";
          color: $text_colour;
          font-size: 1.3rem;
          line-height: 25px;
        }

        .text {
          font-family: "Baskerville_semibold_italics";
          color: rgba($text_colour, 0.2);
          font-size: 1rem;
        }
      }
    }
  }
}

.rsvp_button_wrapper {
  display: grid;
  justify-content: center;
  align-items: center;

  .rsvp_button {
    border: 1px solid $text_colour;
    color: $text_colour;
    border-radius: 50px;
    background-color: rgba(243, 242, 242, 0.1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    display: grid;
    justify-content: center;
    padding: 10px 20px;
    font-family: "Greycliff_medium";
    letter-spacing: 3px;
    font-size: 0.8rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.timer_wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 5vh;
  grid-template-columns: auto auto;
}

.greeting_wrapper {
  display: grid;
  gap: 3vh;
}

.landing_page_image {
  @media (min-width: 1000px) {
    display: grid;
    justify-content: center;
  }

  svg {
    @media (min-width: 1000px) {
      height: 60vh;
    }
  }
}